:where(.css-dev-only-do-not-override-1vtf12y).ant-input {
    width: 500px !important;
    margin: 3%;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-select {
    margin: 3%;
}

label {
    margin: 3%;
}

:where(.css-dev-only-do-not-override-1vtf12y)[class^="ant-space"] [class^="ant-space"], 
:where(.css-dev-only-do-not-override-1vtf12y)[class*=" ant-space"] [class^="ant-space"], 
:where(.css-dev-only-do-not-override-1vtf12y)[class^="ant-space"] [class*=" ant-space"], 
:where(.css-dev-only-do-not-override-1vtf12y)[class*=" ant-space"] [class*=" ant-space"] {
    margin-left: 5%;
}

[role=tooltip].popup-content {
    height :550px !important;
    left: 50% !important;
    position: absolute !important;
    top: 50% !important;
    overflow: scroll;
    transform: translate(-50%, -50%);
    width: 80% !important;
    z-index: 999 !important;
}

.stackList-class {
    list-style: none;
    border: 1px solid #1677ff;
    border-radius: 6px;
    padding: 10px;
    color: #ffff;
    position: relative;
    top: 0.56rem;
    font-size: 13px;
    /* width: 10%;
    height: 55px; */
    cursor: pointer;
    background: #1677ff;
    box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
}

li span {
 padding-left: 0.5rem;
}

.provider_select {
    width: 14%;
    margin-left: 0.5%;
}

.asset-type {
    position: relative;
    top: 1rem;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table {
    margin-top: 2%;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper tfoot>tr>td {
    padding: 5px 4px !important;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-container {
    margin: 5px;
}